:root {
  font-family: Nunito-Regular, Arial;
  background-color: #ffffff;
  text-rendering: optimizeSpeed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-family: Nunito-Regular;
  border: 1.5px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 6px;
  border-radius: 8px;
  margin: 2px;
  margin-bottom: 14px;
  font-size: medium;
  text-align: center;
  outline: none;
}

button {
  font-family: Nunito-Regular;
  border: 1.5px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: medium;
  outline: none;
}

button:focus {
  border-color: black;
}

button:active {
  font-family: Nunito-Bold;
}

button:hover {
  background-color: #efefef;
}

.logo {
  height: 60px;
  width: 60px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #ffffff;
  content: url(../images/main-black.png);
}

.view-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#stage-start {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: max-content;
  font-family: Nunito-Bold;
  font-size: larger;
}

#stage-menu {
  display: none;
  transition: 1.0s;
  padding: 20px;
}

#stage-menu>.menu-info {
  font-family: Nunito-Bold;
  text-align: center;
  font-size: large;
  padding-bottom: 10%;
}

#stage-menu>.auth-wrapper {
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#stage-menu>.auth-wrapper>.auth-title {
  font-family: 'Nunito-Bold';
  margin-top: 0;
  font-weight: bold;
  font-size: large;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #232323;
  }

  input,
  button {
    color: #f6f6f6;
    background-color: #3b3b3b;
    border-color: #f6f6f6;
  }

  button:focus {
    border-color: #f6f6f6;
  }

  button:active {
    border-color: #f6f6f6;
  }

  button:hover {
    background-color: #4b4b4b;
  }

  .logo {
    content: url(../images/main-white.png);
    background-color: #232323;
    border: 2px solid #232323;
  }

  #stage-menu>.auth-wrapper {
    border-color: #f6f6f6;
  }
}
